* {
  font-family: sans-serif;
}

.left h3 {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 30px;
}

svg {
  font-size: 35px;
  cursor: pointer;
}

.cat_con {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #222222e2;
  width: 100vw;
  height: 100vh;
}
.modalUser {
  position: relative;
  padding: 35px 25px 25px 25px;
  max-height: 330px;
  border-radius: 10px;
  margin-top: 200px;
  background-color: white;
}
.closeBtn {
  position: absolute;
  top: 0px;
  right: 10px;
}
.cat_conten {
  background: #efefef;
  width: 310px;
  padding-right: 30px;
  height: 250px;
  margin-top: 200px;
}

@media screen and (min-width: 768px) {
  .user_search {
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .user_search {
    text-align: center;
    margin: 0 20px;
  }
}
.search_item {
  text-align: center;
}

.questions_search {
  margin: 0 auto;
}

.ico {
  padding-right: 200px;
}

.res_question {
  width: 960px;
  margin: 0 auto;
}

.pht_wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: #4b4b4b8f;
}

.images_mod {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: #ffffffcf;
  text-align: center;
}

.asd {
  position: relative;
}

.mod_photo {
  width: 400px;
  margin: 0 auto;
  border: 1px solid rgb(171, 171, 171);
  padding: 10px;
  border-radius: 10px;
  margin-top: 15%;
  background-color: #efefef;
}

.img_ich {
  cursor: pointer;
}

.img_con img {
  width: 1024px;
  height: 600px;
  margin: 0 300px;
}

.message {
  min-height: 60vh;
  max-height: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 425px) {
  .cardW {
    width: 100%;
  }
  .rowGap {
    margin: 0 20px;
    gap: 10px;
  }
  .navbarItem{
    display: none;
  }
  .questions_search {
    margin: 0 10px;
  }
  .modalUser{
    width: 350px;
  }
}
@media screen and (min-width: 425px) {
  .cardW {
    width: 100%;
  }
  .rowGap {
    margin: 0 20px;
    gap: 10px;
  }
  
  .navbarItem{
    display: none;
  }
  .questions_search {
    margin: 0 10px;
  }
  .modalUser{
    width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .cardW {
    width: 31%;
  }
  .rowGap {
    gap: 20px;
    margin: 0 30px;
  }
 
  .navbarItem{
    display: flex;
  }
  .questions_search {
    width: 600px;
    margin: 0 auto;
  }
  .modalUser{
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .cardW {
    width: 31%;
  }
  .rowGap {
    gap: 30px;
    margin: 0 50px;
  }
  .questions_search {
    width: 600px;
    margin: 0 auto;
  }
  .modalUser{
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .cardW {
    width: 23%;
  }
  .rowGap {
    gap: 30px;
    margin: 0 100px;
  }
  .questions_search {
    width: 600px;
    margin: 0 auto;
  }
  .modalUser{
    width: 400px;
  }
}
